<footer class="footer">

  <div class="container">
  <!-- Menú 1 -->
  <nav class="footer__menu-nav">
    <h4>Tienda</h4>
    <ul>
      <li><a href="https://adalab.es/" target="_blank" class="footer__list">Productos</li>

      <li><a href="https://adalab.es/" target="_blank" class="footer__list">Cajoneras</li>
      <li><a href="https://adalab.es/" target="_blank" class="footer__list">Para toda la casa</li>
      <li><a href="https://adalab.es/" target="_blank" class="footer__list">Habitaciones</li>
    </ul>
  </nav>

  <!-- Menú 2 -->
  <nav class="footer__menu-nav">
    <h4>Nosotros</h4>
    <ul>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">Nuestra guía</a></li>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">Nuestro diseño </a></li>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">Nuestra historia</a></li>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">Ayuda</a></li>
    </ul>
  </nav>

  <!-- Menú 3 -->
  <nav class="footer__menu-nav">
    <h4>Contacto</h4>
    <ul>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">ayuda@openspaces.com</a></li>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">Socios</a></li>
    </ul>

    
    <div class="footer__socialmedia">
      <a
        class="footer__socialmedia--icon"
        href="https://adalab.es//"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a
      class="footer__socialmedia--icon"
      href="https://adalab.es//"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands fa-instagram"></i>
    </a>

     <a
  class="footer__socialmedia--icon"
  href="https://adalab.es//"
  target="_blank"
  rel="noopener noreferrer"
>
      <i class="fa-brands fa-twitter"></i>
</a>
 <a href="#home" title="Ir al inicio de la página"><i class="fa-solid fa-arrow-up fa-2x footer__button"  alt="icono inicio de página"></i> </a>
    </div>
  </nav>


   

</div>
</footer>
