<footer class="footer">
  <!-- Menú 1 -->
  <nav class="footer__menu-nav1">
    <h4>Tienda</h4>
    <ul>
      <li><a href="https://adalab.es/" target="_blank" class="footer__list">Productos</li>

      <li><a href="https://adalab.es/" target="_blank" class="footer__list">Cajoneras</li>
      <li><a href="https://adalab.es/" target="_blank" class="footer__list">Para toda la casa</li>
      <li><a href="https://adalab.es/" target="_blank" class="footer__list">Habitaciones</li>
    </ul>
  </nav>

  <!-- Menú 2 -->
  <nav class="footer__menu-nav2">
    <h4>Nosotros</h4>
    <ul>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">Nuestra guía</li>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">Nuestro diseño</li>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">Nuestra historia</li>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">Ayuda</li>
    </ul>
  </nav>

  <!-- Menú 3 -->
  <nav class="footer__menu-nav3">
    <h4>Contacto</h4>
    <ul>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">ayuda@openspaces.com</li>
      <li><a href="https://adalab.es/" target="_blank"class="footer__list">Socios</li>
    </ul>
    <div class="footer__socialmedia">
      <a
        class="footer__socialmedia--icon"
        href="https://adalab.es//"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a
      class="footer__socialmedia--icon"
      href="https://adalab.es//"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands fa-instagram"></i>
    </a>

     <a
  class="footer__socialmedia--icon"
  href="https://adalab.es//"
  target="_blank"
  rel="noopener noreferrer"
>
      <i class="fa-brands fa-twitter"></i>
</a>

    </div>
  </nav>


 
  <div>
    
    <a href="#home" title="Ir al inicio de la página"><i class="fa-solid fa-arrow-up footer__button"  alt="icono inicio de página"></i> </a>
  </div>

</footer>
