<header class="header" id="home">
  <!-- Menú superior fijo en la pantalla -->

  <nav class="header__container">
    <ul class="header__container--list">
      <li>Productos</li>
      <li>Colecciones</li>
      <li>Tienda</li>
      <li>Inicio</li>
    </ul>
    <!-- Menú burguer en versión movile y tablet con enlace a Adalab -->
    <a
      class="header__container--icon"
      href="https://adalab.es//"
      target="_blank"
    >
      <i class="fa-solid fa-bars fa-2x" alt="icono menu"> </i>
    </a>
    <img
      class="header__container--logo"
      src="./assets/images/logo.png"
      alt="logo"
    />
  </nav>

  <!-- Maquetar con flexbox -->

  <div class="header__container2">
    <h1 class="header__container2--title">Disfruta creando espacios</h1>

    <!-- Poner una transición -->
    <button class="header__container2--button">
      <style type="text/css">
        a:link, a:visited, a:active {
            text-decoration:none;
        }
    </style>
      <a
        class="header__container2--button--link"
        href="https://adalab.es/"
        target="_blank"
        >Comprar ahora</a>
      </button>
  </div>
</header>
