<header class="header" id="home">

<nav class="header__container">
  <ul class="header__container--list">
    <li>Productos</li>
    <li>Colecciones</li>
    <li>Tienda</li>
    <li>Inicio</li>
  </ul>

    <a
      class="header__container--icon"
      href="https://adalab.es//"
      target="_blank"

    >
      <i class="fa-solid fa-bars fa-2x" alt="icono menu"> </i>
    </a>
    <img
      class="header__container--logo"
      src="./assets/images/logo.png"
      alt="logo"
    />
 </nav>


  <div class="header__container2">
    <h1 class="header__container2--title">Disfruta creando espacios</h1>

    <button class="header__container2--button">Comprar ahora</button>
  </div>
</header>
