<main>
    <!-- sección 1 -->
   <section class="section1">
  <h2>Volverse organizado se siente mejor con open spaces</h2>
  
   <!-- articulo 1 -->
  <img src="./assets/images/icon_1.png" alt="icono 1">
  <h4>Lo que necesitas</h4>
  <p>Una línea de productos diseñados para todos tus espacios</p>
  
  <!-- articulo 2 -->
  <img src="./assets/images/biodegradable bag.png" alt="icono 2">
  <h4>Materias primas sustentables</h4>
  <p>Todos los productos con materias primas sustentables</p>
  
  <!-- articulo 3 -->
  <img src="./assets/images/park.png" alt="icono 3">
  <h4>Guía</h4>
  <p>Soporte y asesoramiento para ayudarte con tu objetivo</p>
  
  <!-- sección 2 -->
  </section>
  <section class="section2">
    <img src="./assets/images/go_6.png" alt="icono 4">
    <h4>Envío gratis garantizado</h4>
    <p>Envíos gratis en compras desde 100</p>
    <a href="">Comprar ahora</a>
  </section>
  
  
  <!-- sección 3 -->
  <section>
  <h3>Disfruta creando espacios</h3>
  <p>Una línea de prodcutos diseñados para todos tus espacios</p>
  <button>Comprar ahora</button>
  <img src="./assets/images/creando-espacios.jpg" alt="">
  
  </section>
  
  </main>