<section class="section1">
  <h2>
    Volverse organizado se siente mejor con
    <b class="section1__open">open spaces</b>
  </h2>
  <!-- Maquetar con CSS grid -->
  <div class="container">
    <article class="section1__article">
      <img
        src="./assets/images/icon_1.png"
        alt="icono 1"
        class="section1__article--icon"
      />
      <h4 class="section1__article--title">Lo que necesitas</h4>
      <p class="section1__article--content">
        Una línea de productos diseñados para todos tus espacios
      </p>
    </article>

    <article class="section1__article">
      <img
        src="./assets/images/biodegradable-bag.png"
        alt="icono 2"
        class="section1__article--icon"
      />
      <h4 class="section1__article--title">Materias primas sustentables</h4>
      <p class="section1__article--content">
        Todos los productos con materias primas sustentables
      </p>
    </article>

    <article class="section1__article">
      <img
        src="./assets/images/park.png"
        alt="icono 3"
        class="section1__article--icon"
      />
      <h4 class="section1__article--title">Guía</h4>
      <p class="section1__article--content">
        Soporte y asesoramiento para ayudarte con tu objetivo
      </p>
    </article>
  </div>
</section>
