.ul {
  list-style: none;
}

.footer {
  background-color: $color-3;
  color: $color-4;
  font-family: $font-main;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 60px;

  &__menu-nav {
    padding-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    & li {
      list-style-type: none;
    }
  }

  &__socialmedia {
    padding-top: 30px;
  }
  &__list {
    text-decoration: none;
    color: $color-4;
  }

  &__socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: center;

    &--icon {
      color: $color-4;
      text-decoration: none;
      margin: 10px;
    }

  }

  &__button {
    color: $color-4;
    transform: translatex(60px);
    transition: border 0.5s ease, box-shadow 0.5s ease;
    border: 0px solid $color-3;
    text-shadow: 2px 2px 2px rgb(238, 93, 10);
    animation-name: light;
    animation-duration: 5s;
    animation-iteration-count: infinite;
   }
     
   @keyframes light {
   
    10% {
      color: #df8209;
    }
    20% {
      color: #16aeb9;
    }
    30% {
      color: rgb(158, 184, 16);
    }
    40% {
      color: rgb(192, 189, 182);
    }
    50%{
      color: #430bc7;
    }
    70%{
      color: #f1129c;
    }
    90%{
      color: #f01010;
    }



    }
  }


  @media all and (min-width: 768px) {
    .container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
      justify-content: space-evenly
    }

    &__button {
      color: $color-4;
      transform: translatex(40px);
      
    }

  }
