.section1 {
  display: grid;
  background-color: $color-1;
  font-family: $font-main;
  color: $color-3;
  text-align: center;
  padding: 41px 47px 47px 45px;
  
     &__open {
        text-transform: uppercase;
  }
     &__article {
     gap: 30px;
     text-align: center;
     margin: 46px;

    &--title {
      font-weight: bold;
      font-size: 1.25rem;
    }

    &--content {
      font-size: 1rem;
    }

    &--icon {
      width: 90px;
      height: 99px;
      margin-bottom: 30px;
    }
  }
  @media all and (min-width: 768px) {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
