.section2 {
  background-color: $color-2;
  text-align: center;
  font-family: $font-main;
  color: $color-5;
  padding-top: 46px;
  padding-bottom: 60px;

  &__title {
    font-size: 24px;
  }

  &__content {
    margin-bottom: 20px;
  }
  &__link {
    font-size: 14px;
    color: $color-5;
  }
}
