.section3 {
  background-color: $color-1;
  font-family: $font-main;
  color: $color-3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-size: 24px;
    font-weight: 600;
    padding-top: 50px;
  }
  &__content {
    font-size: 14px;
    padding-top: 15px;
  }
  &__button {
    background-color: $color-3;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 0;
    color: $color-5;
    width: 176px;
    text-transform: capitalize;
    font-family: $font-main;
    font-size: 16px;
    height: 48px;
  }
  &__img {
    width: 100%;
     transform: translateY(7px);
  }
}

.text {
  height: 50%;
}

@media all and (min-width: 1200px) {
  .section3 {
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    align-items: center;
  justify-content: space-around;

    &__text {
    
    }
    &__img {
    
    }
  }
}
